@font-face {
    font-family: 'geomanistregular';
    src: url('../fonts/geomanist/geomanist-regular-webfont.eot');
    src: url('../fonts/geomanist/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-regular-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-regular-webfont.ttf') format('truetype'),
         url('../fonts/geomanist/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Expand to full size */
html, body {
    height: 100%;
    min-height: 100%;
}

#video-container {
    /* Make background adaptive to resizing window */
    object-fit: cover;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up proportionate scaling */
    height: 100%;
    width: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    /* Center */
    margin-left: 50vw;
    transform: translate(-50%);

    /* Send to the back */
    z-index: -1;
}

/* some pretty neat color contrast stuff: https://www.viget.com/articles/color-contrast/ */

#sidebar {
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    min-height: 100%;

    width: 30%;
    min-width= 30%;


    color: #3B4040;
    background-color: #B5C687;

    opacity: 0.75;

    font-family: 'geomanistregular';
    font-size: 30px;
}

#contact-wrapper {
    /* vertically center content */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100%;
}

#contact-header {
    min-width: 35%;
    min-height: 20%;

    font-size: 30px;
    text-align: center;
    font-family: 'geomanistregular';

    color: #3B4040;
    background-color: #B5C687;

    border-radius: 25px;

    padding-top: 10px;

    opacity: 0.75;
   /*-webkit-text-stroke: 1px black;*/
}