@font-face {
    font-family: 'geomanistregular';
    src: url('../fonts/geomanist/geomanist-regular-webfont.eot');
    src: url('../fonts/geomanist/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-regular-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-regular-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-regular-webfont.ttf') format('truetype'),
         url('../fonts/geomanist/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Expand to full size */
html, body {
    margin: 0px;

    height: 100%;
    min-height: 100%;

    width: 100%;
    min-width: 100%;
    overflow: hidden;
}

#video-container {
    /* Make background adaptive to resizing window */
    object-fit: cover;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up proportionate scaling */
    height: 100%;
    /*width: auto;/

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    /* Center */
    margin-left: 50vw;
    transform: translate(-50%);

    /* Send to the back */
    z-index: -1;
}

/* some pretty neat color contrast stuff: https://www.viget.com/articles/color-contrast/ */

#content-wrapper {
    height: 100%;
    min-height: 100%;

    width: 100%;
    min-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: inline-block;

    height: 100%;
    min-height: 100%;

    width: 45%;
    min-width: 45%;


    color: #3B4040;
    background-color: #B5C687;

    opacity: .85;

    font-family: 'geomanistregular';
    font-size: 1.875em;

    padding: 30px 30px 30px 30px;
    text-align: center;

    overflow:auto;
}

#hello {
    font-size: 1.875em;
}

#icon-holder {
    padding-bottom:30px;
}

#intro {
    padding: 60px 30px 60px 30px;
}