<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Philip Bal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/>
    </head>
    <body>
        <div id="content-wrapper">
            <div id="content">
                <p id="hello">
                    Hi there! I'm Phil.
                </p>
                <p id="hello-subtitle">
                    I don't like complex websites, so I've made this one nice and simple.
                </p>
                <p id="intro">
                    I'm a software engineer, whatever that means, but they keep putting that as my job title,
                    so I'll keep calling myself that for now. Honestly though, what's that even mean? As far as I can tell,
                    it means I can solve complex problems using code. I've done quite a bit so far, I've dabbled in biology,
                    dataset generation, AI, website & API development, and now I'm off working in aerospace tech (as we speak, some
                    of my code might be flying above you in low earth orbit)!
                </p>
                <hX id="things-done">So what're some things I've done? Good question, and thanks for asking dear reader!</hX>
                <ul id="list-done">
                    <li>Vibe</li>
                    <li>bro</li>
                    <li>seph</li>
                </ul>
                <p></p>
                <p id="contact-header">Contact Me!</p>
                <p id="contact-subtitle">I'm not sure if you're someone who'd just like to chat, or maybe a recruiter, or maybe my boss (I promise
                I'll get the rundown done by Monday ok), but no matter who you are, your best bet is to contact me on LinkedIn, whether you just wanna chat,
                get my resume, or ask me on date, nowadays that'd be your best bet.
                </p>
                <div id="icon-holder">
                    <div id="linked-in"></div>
                    <div id="kaggle"></div>
                    <div id="google-scholar"></div>
                    <div id="github"></div>
                </div>
            </div>
        </div>
    </body>
    <!-- background -->
    <video playsinline autoplay muted loop id="video-container">
        <source src="./media/background.mp4" type="video/mp4">
    </video>
</html>