<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Philip Bal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Official website of Software Engineer Philip Bal">
        <meta name="keywords" content="Philip Bal">
        <link href="css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/a63a3ddb2e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="content-wrapper">
            <div id="content">
                <p id="hello">
                    Hi there! I'm Phil.
                </p>
                <p id="hello-subtitle">
                    I don't like complex websites, so I've made this one nice and simple.
                </p>
                <p id="intro">
                    I'm a software engineer. I've worked with biologists to develop behavior analytic systems to learn
                    more about endangered species, built datasets to help analyze the flow of Dark Net drug marketplaces,
                    worked on fullstack problems that impacted tens of thousands of customers at Amazon, and am currently heading
                    over to SpaceX to work on low Earth orbit satellite systems.
                </p>
                <p id="contact-header">Check out my work below!</p>
                <div id="icon-holder">
                    <a href="https://www.linkedin.com/in/philip-bal-a52955109/" style="text-decoration:inherit;color:inherit;" title="LinkedIn"><i class="fab fa-linkedin fa-fw fa-lg"></i></a>
                    <a href="https://scholar.google.com/citations?user=xjh7ZYYAAAAJ&hl=en" style="text-decoration:inherit;color:inherit;" title="Google Scholar"><i class="fab fa-google fa-fw fa-lg"></i></a>
                    <a href="https://github.com/philipjames44" style="text-decoration:inherit;color:inherit;" title="Github"><i class="fab fa-github fa-fw fa-lg"></i></a>
                    <a href="https://www.kaggle.com/philipjames11/datasets" style="text-decoration:inherit;color:inherit;" title="Kaggle"><i class="fab fa-kaggle fa-fw fa-lg"></i></a>
                </div>
            </div>
        </div>
    </body>
    <!-- background -->
    <video playsinline autoplay muted loop id="video-container">
        <source src="./media/background.mp4" type="video/mp4">
    </video>
</html>