<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Phil's Website</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="css/home.css" th:href="@{/css/home.css}" rel="stylesheet"/>
    </head>
    <body>
        <p>Some placeholder shit</p>
    </body>
    <!-- background -->
    <video playsinline autoplay muted loop id="video-container">
        <source src="./media/background.mp4" type="video/mp4">
    </video>
</html>